<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  
  <div class="field">
    <%= f.label :published_on %><br />
    <%= f.datetime_select :published_on %>
  </div>

  <div id="images">	

	<%= f.fields_for :images, @image do |builder| %>
		<%= render 'image_fields', :f => builder %>
	<% end %>
	</div>
	<p><%= link_to_add_fields "Add a Image", f, :images %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
